pages:
  image: alpine
  script:
    - mkdir public
    - echo '<meta http-equiv="refresh" content="0; URL=https://alf.physik.uni-wuerzburg.de/Hamiltonians/" />' > public/index.html
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

