pages:
  tags: [k8s]
  image: git.physik.uni-wuerzburg.de:25812/alf/alf_docker/pyalf-doc/jupyter
  script:
    - jb build .
    - mkdir public
    - mv _build/html/* public
  artifacts:
    paths:
      - public
