name: Test Hamiltonians

on:
  push:
    branches: ['**']

concurrency:
  group: 'test-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    name: Test · ${{ matrix.image[1] }} · ${{ matrix.mode }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-requirements/${{ matrix.image[0] }}
    strategy:
      fail-fast: false
      matrix:
        image: 
          - [bullseye, GNU]
          - [bookworm, GNU]
          - [trixie, GNU]
          - [bullseye-pgi-21-03, PGI]
          - [bookworm-pgi-24-09, PGI]
          - [bullseye-intel, INTEL]
          - [bookworm-intel-2024.2, INTEL]
          - [bookworm-intel, INTELLLVM]
        mode: [noMPI, MPI]
    steps:
      - uses: actions/checkout@v6
      - name: Clone compile and run ALF for each Hamiltonian
        shell: bash
        run: |
          for i in Hamiltonians/*/; do
            echo "Testing $i"
            cd $GITHUB_WORKSPACE/$i
            ./clone_alf.sh
            cd ALF
            . configure.sh ${{ matrix.image[1] }} Devel ${{ matrix.mode }}
            make
            cd ../Start
            if [ "${{ matrix.mode }}" = "MPI" ]; then
              MPI_OPTS="-n 4"
              mpiexec --version | grep -iq -e 'Open MPI' -e 'OpenRTE' && MPI_OPTS="$MPI_OPTS --use-hwthread-cpus"
              mpiexec $MPI_OPTS "$ALF_DIR/Prog/ALF.out"
            else
              ../ALF/Prog/ALF.out
            fi
          done

  test_macos:
    name: macOS · ${{ matrix.mode }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        mode: [noMPI, MPI]
    steps:
      - uses: actions/checkout@v6
      - name: macOS Toolchain install
        shell: bash
        run: |
          brew update
          brew install mpich
          gcc_version=$(brew list --versions gcc | grep -o '[0-9]\+' | head -1)
          bindir=$(brew --prefix)/bin
          ln -fs ${bindir}/gfortran-${gcc_version} /usr/local/bin/gfortran
          ln -fs ${bindir}/gcc-${gcc_version} /usr/local/bin/gcc
          ln -fs ${bindir}/g++-${gcc_version} /usr/local/bin/g++

      - name: Clone compile and run ALF for each Hamiltonian
        shell: bash
        run: |
          for i in Hamiltonians/*/; do
            echo "Testing $i"
            cd $GITHUB_WORKSPACE/$i
            ./clone_alf.sh
            cd ALF
            . configure.sh GNU Devel ${{ matrix.mode }}
            make
            cd ../Start
            if [ "${{ matrix.mode }}" = "MPI" ]; then
              MPI_OPTS="-n 4"
              mpiexec --version | grep -iq -e 'Open MPI' -e 'OpenRTE' && MPI_OPTS="$MPI_OPTS --use-hwthread-cpus"
              mpiexec $MPI_OPTS "$ALF_DIR/Prog/ALF.out"
            else
              ../ALF/Prog/ALF.out
            fi
          done